<div class="container">
  {{ember-notify  messageStyle='bootstrap'}}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>{{t 'app.title'}}</h1>
      {{outlet}}
    </div>
  </div>
</div>